WF_ 0- Central Orchestration CEO Agent for Agentic AI System Request Routing.json
{
  "name": "WF: 0- Central Orchestration CEO Agent for Agentic AI System Request Routing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ceo-orchestrator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8a873fd0-2e18-45eb-bda9-648e0a7194ec",
      "name": "Webhook Trigger (UI Actions)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2592,
        752
      ],
      "webhookId": "a5b31272-97e9-474f-a229-7c55eba3d5b6"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "6a2818a5-2d0f-4598-b630-2c6df8cd8300",
      "name": "Schedule Trigger (Cron Jobs)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2592,
        944
      ]
    },
    {
      "parameters": {},
      "id": "22708940-5b61-4b63-8b8e-a5d18e53446a",
      "name": "Manual Trigger (Admin Testing)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2592,
        1136
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "default_mode",
              "value": "simulation",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "default_priority",
              "value": "normal",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "system_name",
              "value": "WF-0: CEO Orchestrator",
              "type": "string"
            },
            {
              "id": "cfg-wf10_webhook_url",
              "name": "wf10_webhook_url",
              "value": "http://localhost:5678/webhook/wf10-decision-contract",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f5b0adae-e8ea-423c-9407-978e508714b6",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2368,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "const contract = $input.first().json;\n\n// This node only normalizes the input for CEO classification\n// The contract was already built in Contract Builder\nconst normalizedData = {\n  ...contract,\n  normalized_input: contract.raw_input?.body?.request || contract.raw_input?.request || JSON.stringify(contract.raw_input)\n};\n\nreturn [normalizedData];"
      },
      "id": "e34bb153-073a-4e0c-a5ef-7016e0fa95cb",
      "name": "Input Normalization",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        944
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.normalized_input }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a PURE CLASSIFIER with ZERO AUTHORITY.\n\nYou have NO power to:\n- Approve or reject requests\n- Judge quality or feasibility\n- Make execution decisions\n- Block or allow actions\n- Evaluate risk beyond classification\n\nYour ONLY role is to:\n1) Analyze and normalize incoming requests\n2) Classify intent, department, task type, urgency, and risk level\n3) Provide confidence scores for your classification\n4) Route to the appropriate workflow\n\nALL DECISIONS ARE MADE BY WF-10 GLOBAL GUARDRAIL.\nYou are a metadata provider ONLY. WF-10 is the ONLY decision authority that approves, rejects, or blocks execution.\n\nProvide honest confidence scores (0.0-1.0) - low confidence is acceptable and will be handled by downstream systems. You are NOT responsible for decision quality, only classification accuracy.\n\nDepartment mapping:\n- finance: budgets, forecasts, financial analysis, cost tracking\n- operations: inventory, supply chain, logistics, production\n- marketing: campaigns, content, branding, social media\n- sales: deals, pipelines, customer acquisition, revenue\n- rnd: product development, formulation, testing, innovation\n- cx: customer support, feedback, satisfaction, retention\n- tech: infrastructure, systems, integrations, automation\n- infra: infrastructure, DevOps, monitoring, security\n- hr: hiring, onboarding, training, employee management\n- strategy: business planning, market analysis, competitive intelligence\n\nTask types:\n- strategic: long-term planning, market positioning, business strategy\n- operational: day-to-day execution, process management\n- financial: budgets, forecasts, cost analysis\n- technical: system changes, integrations, automation\n- compliance: legal, regulatory, ethics, risk management\n\nUrgency levels:\n- low: routine tasks, no deadline pressure\n- medium: important but not time-critical\n- high: urgent, time-sensitive, critical impact\n\nRisk levels:\n- low: routine operations, minimal impact\n- medium: moderate impact, requires review\n- high: significant impact, requires approval\n\nRecommended workflows:\n- WF-1: Business Strategist (strategy tasks)\n- WF-2: Finance (financial tasks)\n- WF-3: Operations (operational tasks)\n- WF-4: R&D (product development)\n- WF-5: Marketing (marketing campaigns)\n- WF-6: Sales (sales operations)\n- WF-7: Customer Experience (CX tasks)\n- WF-9: Tech/Infrastructure (technical tasks)\n\nMode:\n- simulation: safe preview mode (default)\n- execute: actual execution mode\n\nRemember: You classify and route. WF-10 decides and controls."
        }
      },
      "id": "6f48d0c3-ecb1-4d3f-945a-51d59fce62aa",
      "name": "CEO Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1696,
        944
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini",
          "cachedResultName": "gpt-4o-mini"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "id": "4da1d5a9-b53d-46ac-b369-3cb313e3dcde",
      "name": "OpenAI Chat Model (CEO)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1696,
        1168
      ],
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "5QzdOMqVT558sjcl",
          "name": "OpenAI account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"intent_summary\": {\n      \"type\": \"string\",\n      \"description\": \"Summary of the user's intent\"\n    },\n    \"department\": {\n      \"type\": \"string\",\n      \"enum\": [\"finance\", \"operations\", \"marketing\", \"sales\", \"rnd\", \"cx\", \"tech\", \"infra\", \"hr\", \"strategy\"],\n      \"description\": \"Target department for the request\"\n    },\n    \"task_type\": {\n      \"type\": \"string\",\n      \"enum\": [\"strategic\", \"operational\", \"financial\", \"technical\", \"compliance\"],\n      \"description\": \"Type of task being requested\"\n    },\n    \"urgency\": {\n      \"type\": \"string\",\n      \"enum\": [\"low\", \"medium\", \"high\"],\n      \"description\": \"Urgency level of the request\"\n    },\n    \"risk_level\": {\n      \"type\": \"string\",\n      \"enum\": [\"low\", \"medium\", \"high\"],\n      \"description\": \"Risk level associated with the request\"\n    },\n    \"recommended_workflow\": {\n      \"type\": \"string\",\n      \"enum\": [\"WF-1\", \"WF-2\", \"WF-3\", \"WF-4\", \"WF-5\", \"WF-6\", \"WF-7\", \"WF-9\"],\n      \"description\": \"Recommended workflow to handle the request\"\n    },\n    \"mode\": {\n      \"type\": \"string\",\n      \"enum\": [\"simulation\", \"execute\"],\n      \"description\": \"Execution mode for the request\"\n    },\n    \"confidence_score\": {\n      \"type\": \"number\",\n      \"minimum\": 0,\n      \"maximum\": 1,\n      \"description\": \"Confidence score of the classification\"\n    }\n  },\n  \"required\": [\"intent_summary\", \"department\", \"task_type\", \"urgency\", \"risk_level\", \"recommended_workflow\", \"mode\", \"confidence_score\"]\n}"
      },
      "id": "302dc95c-db54-4138-af82-79108f6a8ac6",
      "name": "Structured Output Parser (CEO Classification)",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1568,
        1168
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "finance",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "operations",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "rnd",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "marketing",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "cx",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "tech",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "infra",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "or"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "strategy",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.department }}",
                    "rightValue": "hr",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "3aa4e36b-f43e-4e86-a3c0-aef5fba95ad2",
      "name": "Department Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -448,
        832
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "rNv9DzGl7IFHotwO",
          "mode": "id",
          "cachedResultName": "rNv9DzGl7IFHotwO"
        },
        "workflowInputs": {
          "mappingMode": "json",
          "value": "={{ $json }}"
        },
        "options": {}
      },
      "id": "c34dcb1e-e9c4-4322-80a8-71a48b18640b",
      "name": "Execute Finance Workflow (WF-2)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -224,
        176
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "tQ9crXF3P0NOlWDy",
          "mode": "id",
          "cachedResultName": "tQ9crXF3P0NOlWDy"
        },
        "workflowInputs": {
          "mappingMode": "json",
          "value": "={{ $json }}"
        },
        "options": {}
      },
      "id": "2941eb24-d248-4f7d-a842-4a3e8c758ad0",
      "name": "Execute Operations Workflow (WF-3)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -224,
        368
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "wruDXEwcbxlP2D7x",
          "mode": "id",
          "cachedResultName": "wruDXEwcbxlP2D7x"
        },
        "workflowInputs": {
          "mappingMode": "json",
          "value": "={{ $json }}"
        },
        "options": {}
      },
      "id": "514b877c-6191-41ef-acfa-7ff3cb990b23",
      "name": "Execute R&D Workflow (WF-4)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -224,
        560
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IYl2NVikGCyySSU2",
          "mode": "id",
          "cachedResultName": "IYl2NVikGCyySSU2"
        },
        "workflowInputs": {
          "mappingMode": "json",
          "value": "={{ $json }}"
        },
        "options": {}
      },
      "id": "46c83527-aa45-49eb-b2ab-a1b6815e1ee0",
      "name": "Execute Marketing Workflow (WF-5)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -224,
        752
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "fjiL4YeNQ7FN4Yn5",
          "mode": "id",
          "cachedResultName": "fjiL4YeNQ7FN4Yn5"
        },
        "workflowInputs": {
          "mappingMode": "json",
          "value": "={{ $json }}"
        },
        "options": {}
      },
      "id": "afbba6ba-f413-4262-aa7e-3093e104fdc4",
      "name": "Execute Sales Workflow (WF-6)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -224,
        944
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "IQ2YHdJsjseOTWAL",
          "mode": "id",
          "cachedResultName": "IQ2YHdJsjseOTWAL"
        },
        "workflowInputs": {
          "mappingMode": "json",
          "value": "={{ $json }}"
        },
        "options": {}
      },
      "id": "62b68d8f-de7c-4fd4-9f7d-b3472ed08a24",
      "name": "Execute CX Workflow (WF-7)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -224,
        1136
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "buYXMmxB3EmybKBk",
          "mode": "id",
          "cachedResultName": "buYXMmxB3EmybKBk"
        },
        "workflowInputs": {
          "mappingMode": "json",
          "value": "={{ $json }}"
        },
        "options": {}
      },
      "id": "109f7cee-34ab-498e-8f73-0833265f2bc7",
      "name": "Execute Tech/Infra Workflow (WF-9)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -224,
        1328
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "crzJvTXgeYpSYXTI",
          "mode": "id",
          "cachedResultName": "crzJvTXgeYpSYXTI"
        },
        "workflowInputs": {
          "mappingMode": "json",
          "value": "={{ $json }}"
        },
        "options": {}
      },
      "id": "f5c03989-986a-4f00-aebf-adf593c4be2a",
      "name": "Execute Strategy Workflow (WF-1)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -224,
        1520
      ]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "flYawPgsikdzuAek",
          "mode": "id",
          "cachedResultName": "flYawPgsikdzuAek"
        },
        "workflowInputs": {
          "mappingMode": "json",
          "value": "={{ $json }}"
        },
        "options": {}
      },
      "id": "402617c8-fbf1-473e-a825-039fb7365021",
      "name": "Execute HR Workflow (WF-HR)",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -224,
        1712
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Logging only - no authority to decide, approve, or block\n// This node only logs routing, proposal, and WF-10 response\nconst contract = $input.first().json;\n\n// Add execution log entry (logging only, no decision-making)\nconst logEntry = {\n  timestamp: new Date().toISOString(),\n  workflow: 'WF-0',\n  action: 'received_and_forwarded',\n  details: 'Request received and forwarded to WF-10 and department workflows for evaluation'\n};\n\n// Append to audit logs without changing decision_status\nconst updatedContract = {\n  ...contract,\n  audit: {\n    ...contract.audit,\n    logs: [...(contract.audit?.logs || []), logEntry]\n  }\n};\n\nconsole.log('WF-0 Routing Log:', JSON.stringify(logEntry, null, 2));\n\nreturn [{ json: updatedContract }];"
      },
      "id": "d09d2b97-b452-4af4-aa9d-ec3d2a4df3bb",
      "name": "Log Decision & Execution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        944
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f1",
              "name": "request_id",
              "value": "={{ $json.request_id }}",
              "type": "string"
            },
            {
              "id": "f2",
              "name": "decision_status",
              "value": "={{ $json.decision_status }}",
              "type": "string"
            },
            {
              "id": "f3",
              "name": "execution_allowed",
              "value": "={{ $json.execution_allowed }}",
              "type": "boolean"
            },
            {
              "id": "f4",
              "name": "department",
              "value": "={{ $json.department }}",
              "type": "string"
            },
            {
              "id": "f5",
              "name": "mode",
              "value": "={{ $json.mode }}",
              "type": "string"
            },
            {
              "id": "f6",
              "name": "reason",
              "value": "={{ $json.reason }}",
              "type": "string"
            },
            {
              "id": "f7",
              "name": "intent_summary",
              "value": "={{ $json.intent_summary }}",
              "type": "string"
            },
            {
              "id": "f8",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {},
        "includeOtherFields": false
      },
      "id": "82d4d414-0dbc-4f88-a3a7-585e806e377a",
      "name": "Build Final Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        944
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "0fc041a8-df79-4f90-8ccf-23bcbf49eb7f",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        944
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1216,
        1744
      ],
      "typeVersion": 1,
      "id": "5cfc19fd-357c-4095-8d0c-ae7ce50502d0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8054e16f-6006-4aad-821b-3779d803dcef",
      "name": "CEO Output Validation Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1344,
        944
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "request_id",
              "value": "={{ $json.request_id }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "ceo_output",
              "value": "={{ $('CEO Agent').item.json }}",
              "type": "object"
            },
            {
              "id": "id-5",
              "name": "alert_type",
              "value": "incomplete_classification",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "alert_message",
              "value": "CEO classification incomplete - telemetry logged",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "27e052b8-0dfd-4eab-bdb3-cbf24c58fcdc",
      "name": "Manual Review Alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        1872
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "request_id",
              "value": "={{ $json.body?.request_id || $json.request_id || (Date.now() + '-' + Math.floor(Math.random() * 1e9).toString(36)) }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "source_workflow",
              "value": "WF-0",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "source_workflow_id",
              "value": "={{ $workflow.id }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "department",
              "value": "",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "task_type",
              "value": "",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "mode",
              "value": "={{ $json.mode || $json.body?.mode || 'simulation' }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "confidence",
              "value": 0,
              "type": "number"
            },
            {
              "id": "id-8",
              "name": "risk_level",
              "value": "={{ $json.body?.risk_level || $json.risk_level || 'low' }}",
              "type": "string"
            },
            {
              "id": "id-10",
              "name": "crea_status",
              "value": "pending",
              "type": "string"
            },
            {
              "id": "id-11",
              "name": "crea_reason",
              "value": "={{ null }}",
              "type": "string"
            },
            {
              "id": "id-12",
              "name": "decision_status",
              "value": "proposed",
              "type": "string"
            },
            {
              "id": "id-13",
              "name": "decision_summary",
              "value": "",
              "type": "string"
            },
            {
              "id": "id-14",
              "name": "failure_count",
              "value": 0,
              "type": "number"
            },
            {
              "id": "id-15",
              "name": "audit",
              "value": "={{ { original_contract_hash: '', logs: [], approvals: [], overrides: [] } }}",
              "type": "object"
            },
            {
              "id": "id-16",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "id-17",
              "name": "raw_input",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "4f18bd95-2ece-469b-80c5-57e829675a3a",
      "name": "Contract Builder",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2144,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "// Keep the known-valid governance contract authoritative; attach department output for logging.\nconst deptResult = $input.first().json;\nlet base = {};\ntry { base = $('Attach CEO Classification to Contract').item.json; } catch (e) { base = {}; }\nconst merged = { ...base, department_result: deptResult };\nreturn [{ json: merged }];"
      },
      "id": "7c74fc64-352f-48ef-8c5e-b081cc0b9a19",
      "name": "Contract Validator – Enforced",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        944
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "request_id",
              "value": "={{ $('Contract Builder').item.json.request_id }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "source_workflow",
              "value": "WF-0",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "source_workflow_id",
              "value": "={{ $workflow.id }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "department",
              "value": "={{ $('CEO Agent').item.json.output.department }}",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "task_type",
              "value": "={{ $('CEO Agent').item.json.output.task_type }}",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "urgency",
              "value": "={{ $('CEO Agent').item.json.output.urgency }}",
              "type": "string"
            },
            {
              "id": "a7",
              "name": "intent_summary",
              "value": "={{ $('CEO Agent').item.json.output.intent_summary }}",
              "type": "string"
            },
            {
              "id": "a8",
              "name": "recommended_workflow",
              "value": "={{ $('CEO Agent').item.json.output.recommended_workflow }}",
              "type": "string"
            },
            {
              "id": "a9",
              "name": "mode",
              "value": "={{ $('CEO Agent').item.json.output.mode || $('Contract Builder').item.json.mode || 'simulation' }}",
              "type": "string"
            },
            {
              "id": "a10",
              "name": "confidence",
              "value": "={{ $('CEO Agent').item.json.output.confidence_score || 0.7 }}",
              "type": "number"
            },
            {
              "id": "a11",
              "name": "risk_level",
              "value": "={{ $('CEO Agent').item.json.output.risk_level || $('Contract Builder').item.json.risk_level || 'low' }}",
              "type": "string"
            },
            {
              "id": "a12",
              "name": "founder_available",
              "value": "={{ false }}",
              "type": "boolean"
            },
            {
              "id": "a13",
              "name": "crea_status",
              "value": "={{ $('Contract Builder').item.json.crea_status || 'pending' }}",
              "type": "string"
            },
            {
              "id": "a14",
              "name": "crea_reason",
              "value": "={{ null }}",
              "type": "string"
            },
            {
              "id": "a15",
              "name": "failure_count",
              "value": "={{ 0 }}",
              "type": "number"
            },
            {
              "id": "a16",
              "name": "decision_status",
              "value": "proposed",
              "type": "string"
            },
            {
              "id": "a17",
              "name": "audit",
              "value": "={{ $('Contract Builder').item.json.audit }}",
              "type": "object"
            },
            {
              "id": "a18",
              "name": "payload",
              "value": "={{ $('Contract Builder').item.json.raw_input.body.payload || {} }}",
              "type": "object"
            },
            {
              "id": "a19",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": false,
        "options": {}
      },
      "id": "bdba22a6-0d6b-4faf-9955-e87696f3eff2",
      "name": "Attach CEO Classification to Contract",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1120,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').item.json.wf10_webhook_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "be41a839-d5f0-40af-9d43-ff7dba00ac79",
      "name": "Call WF-10 – Global Guardrail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        560
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "g1",
              "leftValue": "={{ $json.decision_status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "g2",
              "leftValue": "={{ $json.decision_status }}",
              "rightValue": "proposed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "18bca730-6bb5-4d7a-b0a4-6dbf169dae0f",
      "name": "WF-10 Approval Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "request_id",
              "value": "={{ $json.request_id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "decision_status",
              "value": "={{ $json.decision_status }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "reason",
              "value": "={{ $json.reason || \"WF-10 blocked execution\" }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "execution_allowed",
              "value": "={{ $json.execution_allowed }}",
              "type": "boolean"
            },
            {
              "id": "id-5",
              "name": "blocked_by",
              "value": "WF-10 Global Guardrail",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "45465d84-1d26-48bb-a8bb-84b64d6b85e0",
      "name": "BLOCKED – WF-10 Rejected",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').item.json.wf10_webhook_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "dad4bd55-9474-4d98-bb29-8b194ba275db",
      "name": "Call WF-10 (Execution Gate)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "g1",
              "leftValue": "={{ $json.decision_status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "g2",
              "leftValue": "={{ $json.decision_status }}",
              "rightValue": "proposed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "09bb1c13-6a35-48c2-b1af-f5121afacc63",
      "name": "WF-10 Execution Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        200
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "request_id",
              "value": "={{ $json.request_id }}",
              "type": "string"
            },
            {
              "id": "e2",
              "name": "decision_status",
              "value": "execution_blocked",
              "type": "string"
            },
            {
              "id": "e3",
              "name": "reason",
              "value": "={{ $json.reason || 'WF-10 denied execution of department action' }}",
              "type": "string"
            },
            {
              "id": "e4",
              "name": "execution_allowed",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "e5",
              "name": "blocked_by",
              "value": "WF-10 Execution Gate",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c8ace1bb-c92c-474e-883e-7aa804392d12",
      "name": "BLOCKED - Execution Denied",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        360
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger (UI Actions)": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (Cron Jobs)": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (Admin Testing)": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Normalization": {
      "main": [
        [
          {
            "node": "CEO Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model (CEO)": {
      "ai_languageModel": [
        [
          {
            "node": "CEO Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser (CEO Classification)": {
      "ai_outputParser": [
        [
          {
            "node": "CEO Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Department Router": {
      "main": [
        [
          {
            "node": "Execute Finance Workflow (WF-2)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Operations Workflow (WF-3)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute R&D Workflow (WF-4)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Marketing Workflow (WF-5)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Sales Workflow (WF-6)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute CX Workflow (WF-7)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Tech/Infra Workflow (WF-9)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Strategy Workflow (WF-1)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute HR Workflow (WF-HR)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Finance Workflow (WF-2)": {
      "main": [
        [
          {
            "node": "Contract Validator – Enforced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Operations Workflow (WF-3)": {
      "main": [
        [
          {
            "node": "Contract Validator – Enforced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute R&D Workflow (WF-4)": {
      "main": [
        [
          {
            "node": "Contract Validator – Enforced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Marketing Workflow (WF-5)": {
      "main": [
        [
          {
            "node": "Contract Validator – Enforced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Sales Workflow (WF-6)": {
      "main": [
        [
          {
            "node": "Contract Validator – Enforced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute CX Workflow (WF-7)": {
      "main": [
        [
          {
            "node": "Contract Validator – Enforced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Tech/Infra Workflow (WF-9)": {
      "main": [
        [
          {
            "node": "Contract Validator – Enforced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Strategy Workflow (WF-1)": {
      "main": [
        [
          {
            "node": "Contract Validator – Enforced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute HR Workflow (WF-HR)": {
      "main": [
        [
          {
            "node": "Contract Validator – Enforced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Decision & Execution": {
      "main": [
        [
          {
            "node": "Build Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CEO Agent": {
      "main": [
        [
          {
            "node": "CEO Output Validation Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CEO Output Validation Gate": {
      "main": [
        [
          {
            "node": "Attach CEO Classification to Contract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manual Review Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Review Alert": {
      "main": [
        [
          {
            "node": "Log Decision & Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Contract Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contract Builder": {
      "main": [
        [
          {
            "node": "Input Normalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contract Validator – Enforced": {
      "main": [
        [
          {
            "node": "Call WF-10 (Execution Gate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach CEO Classification to Contract": {
      "main": [
        [
          {
            "node": "Call WF-10 – Global Guardrail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call WF-10 – Global Guardrail": {
      "main": [
        [
          {
            "node": "WF-10 Approval Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-10 Approval Gate": {
      "main": [
        [
          {
            "node": "Department Router",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BLOCKED – WF-10 Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BLOCKED – WF-10 Rejected": {
      "main": [
        [
          {
            "node": "Log Decision & Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call WF-10 (Execution Gate)": {
      "main": [
        [
          {
            "node": "WF-10 Execution Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-10 Execution Gate": {
      "main": [
        [
          {
            "node": "Log Decision & Execution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BLOCKED - Execution Denied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BLOCKED - Execution Denied": {
      "main": [
        [
          {
            "node": "Log Decision & Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c026ab67-f3eb-4cdf-9611-f6353f56d0d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bea94a9541cdb25b8e9767cbab760254eae13c9cf6f5cc323581c4d6ea0dea6f"
  },
  "id": "lc0lyVO9QbTJ0aih",
  "tags": []
}