WF_ 0- Central Orchestration CEO Agent for Agentic AI System Request Routing.json
{
  "name": "WF: 0- Central Orchestration CEO Agent for Agentic AI System Request Routing",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ceo-orchestrator",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8a873fd0-2e18-45eb-bda9-648e0a7194ec",
      "name": "Webhook Trigger (UI Actions)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2592,
        752
      ],
      "webhookId": "a5b31272-97e9-474f-a229-7c55eba3d5b6"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "6a2818a5-2d0f-4598-b630-2c6df8cd8300",
      "name": "Schedule Trigger (Cron Jobs)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -2592,
        944
      ]
    },
    {
      "parameters": {},
      "id": "22708940-5b61-4b63-8b8e-a5d18e53446a",
      "name": "Manual Trigger (Admin Testing)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2592,
        1136
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "default_mode",
              "value": "simulation",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "default_priority",
              "value": "normal",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "system_name",
              "value": "WF-0: CEO Orchestrator",
              "type": "string"
            },
            {
              "id": "cfg-wf10_webhook_url",
              "name": "wf10_webhook_url",
              "value": "http://localhost:5678/webhook/wf10-decision-contract",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "f5b0adae-e8ea-423c-9407-978e508714b6",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2368,
        944
      ]
    },
    {
      "parameters": {
        "jsCode": "const contract = $input.first().json;\n\n// This node only normalizes the input for CEO classification\n// The contract was already built in Contract Builder\nconst normalizedData = {\n  ...contract,\n  normalized_input: contract.raw_input?.body?.request || contract.raw_input?.request || JSON.stringify(contract.raw_input)\n};\n\nreturn [normalizedData];"
      },
      "id": "e34bb153-073a-4e0c-a5ef-7016e0fa95cb",
      "name": "Input Normalization",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        944
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.normalized_input }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are a PURE CLASSIFIER with ZERO AUTHORITY.\n\nYou have NO power to:\n- Approve or reject requests\n- Judge quality or feasibility\n- Make execution decisions\n- Block or allow actions\n- Evaluate risk beyond classification\n\nYour ONLY role is to:\n1) Analyze and normalize incoming requests\n2) Classify intent, department, task type, urgency, and risk level\n3) Provide confidence scores for your classification\n4) Route to the appropriate workflow\n\nALL DECISIONS ARE MADE BY WF-10 GLOBAL GUARDRAIL.\nYou are a metadata provider ONLY. WF-10 is the ONLY decision authority that approves, rejects, or blocks execution.\n\nProvide honest confidence scores (0.0-1.0) - low confidence is acceptable and will be handled by downstream systems. You are NOT responsible for decision quality, only classification accuracy.\n\nDepartment mapping:\n- finance: budgets, forecasts, financial analysis, cost tracking\n- operations: inventory, supply chain, logistics, production\n- marketing: campaigns, content, branding, social media\n- sales: deals, pipelines, customer acquisition, revenue\n- rnd: product development, formulation, testing, innovation\n- cx: customer support, feedback, satisfaction, retention\n- tech: infrastructure, systems, integrations, automation\n- infra: infrastructure, DevOps, monitoring, security\n- hr: hiring, onboarding, training, employee management\n- strategy: business planning, market analysis, competitive intelligence\n\nTask types:\n- strategic: long-term planning, market positioning, business strategy\n- operational: day-to-day execution, process management\n- financial: budgets, forecasts, cost analysis\n- technical: system changes, integrations, automation\n- compliance: legal, regulatory, ethics, risk management\n\nUrgency levels:\n- low: routine tasks, no deadline pressure\n- medium: important but not time-critical\n- high: urgent, time-sensitive, critical impact\n\nRisk levels:\n- low: routine operations, minimal impact\n- medium: moderate impact, requires review\n- high: significant impact, requires approval\n\nRecommended workflows:\n- WF-1: Business Strategist (strategy tasks)\n- WF-2: Finance (financial tasks)\n- WF-3: Operations (operational tasks)\n- WF-4: R&D (product development)\n- WF-5: Marketing (marketing campaigns)\n- WF-6: Sales (sales operations)\n- WF-7: Customer Experience (CX tasks)\n- WF-9: Tech/Infrastructure (technical tasks)\n\nMode:\n- simulation: safe preview mode (default)\n- execute: actual execution mode\n\nRemember: You classify and route. WF-10 decides and controls.\n\nDECOMPOSITION (IMPORTANT):\nA single request may involve MULTIPLE departments. Break it into subtasks — ONE subtask per\ndepartment needed — and return them all in the \"subtasks\" array.\nExample: \"Launch a 20% discount campaign, collect customer feedback via the app, and reorder\ninventory if stock < 100\" -> THREE subtasks:\n  1) department=marketing  (run the discount campaign + spend)\n  2) department=cx         (collect customer feedback)\n  3) department=operations (auto-reorder inventory)\nA simple single-department request returns exactly ONE subtask. Always return at least one\nsubtask. Do not merge unrelated department work into a single subtask."
        }
      },
      "id": "6f48d0c3-ecb1-4d3f-945a-51d59fce62aa",
      "name": "CEO Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -1696,
        944
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput",
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o",
          "cachedResultName": "gpt-4o"
        },
        "responsesApiEnabled": false,
        "options": {}
      },
      "id": "4da1d5a9-b53d-46ac-b369-3cb313e3dcde",
      "name": "OpenAI Chat Model (CEO)",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1696,
        1168
      ],
      "alwaysOutputData": true,
      "notesInFlow": true,
      "credentials": {
        "openAiApi": {
          "id": "5QzdOMqVT558sjcl",
          "name": "OpenAI account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"intent_summary\": {\n      \"type\": \"string\",\n      \"description\": \"Overall summary of the user's whole request\"\n    },\n    \"mode\": {\n      \"type\": \"string\",\n      \"enum\": [\n        \"simulation\",\n        \"execute\"\n      ]\n    },\n    \"subtasks\": {\n      \"type\": \"array\",\n      \"description\": \"One entry per department involved. Split a multi-part request into separate subtasks.\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"intent_summary\": {\n            \"type\": \"string\",\n            \"description\": \"What THIS subtask asks the department to do\"\n          },\n          \"department\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"finance\",\n              \"operations\",\n              \"marketing\",\n              \"sales\",\n              \"rnd\",\n              \"cx\",\n              \"tech\",\n              \"infra\",\n              \"hr\",\n              \"strategy\"\n            ]\n          },\n          \"task_type\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"strategic\",\n              \"operational\",\n              \"financial\",\n              \"technical\",\n              \"compliance\"\n            ]\n          },\n          \"urgency\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"low\",\n              \"medium\",\n              \"high\"\n            ]\n          },\n          \"risk_level\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"low\",\n              \"medium\",\n              \"high\"\n            ]\n          },\n          \"confidence_score\": {\n            \"type\": \"number\",\n            \"minimum\": 0,\n            \"maximum\": 1\n          }\n        },\n        \"required\": [\n          \"intent_summary\",\n          \"department\",\n          \"task_type\",\n          \"urgency\",\n          \"risk_level\",\n          \"confidence_score\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"intent_summary\",\n    \"mode\",\n    \"subtasks\"\n  ]\n}"
      },
      "id": "302dc95c-db54-4138-af82-79108f6a8ac6",
      "name": "Structured Output Parser (CEO Classification)",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1568,
        1168
      ]
    },
    {
      "parameters": {
        "jsCode": "// Logging only (no authority). Append an audit log entry to EVERY subtask contract.\nreturn $input.all().map(item => {\n  const c = item.json;\n  const logEntry = { timestamp: new Date().toISOString(), workflow: \"WF-0\", action: \"received_and_forwarded\", details: \"Routed to WF-10 and department for evaluation\" };\n  const prev = (c.audit && Array.isArray(c.audit.logs)) ? c.audit.logs : [];\n  return { json: { ...c, audit: { ...(c.audit||{}), logs: [...prev, logEntry] } } };\n});",
        "mode": "runOnceForAllItems"
      },
      "id": "d09d2b97-b452-4af4-aa9d-ec3d2a4df3bb",
      "name": "Log Decision & Execution",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        944
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const items = $input.all();\nconst results = items.map(i => ({\n  request_id: i.json.request_id,\n  department: i.json.department,\n  decision_status: i.json.decision_status,\n  execution_allowed: i.json.execution_allowed,\n  reason: i.json.reason,\n  intent_summary: i.json.intent_summary,\n}));\nreturn [{ json: {\n  parent_request_id: items[0] ? items[0].json.parent_request_id : null,\n  subtask_count: results.length,\n  departments: results.map(r => r.department),\n  results,\n  mode: items[0] ? items[0].json.mode : null,\n  timestamp: new Date().toISOString(),\n} }];"
      },
      "id": "82d4d414-0dbc-4f88-a3a7-585e806e377a",
      "name": "Build Final Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        944
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "0fc041a8-df79-4f90-8ccf-23bcbf49eb7f",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        672,
        944
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1216,
        1744
      ],
      "typeVersion": 1,
      "id": "5cfc19fd-357c-4095-8d0c-ae7ce50502d0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "8054e16f-6006-4aad-821b-3779d803dcef",
      "name": "CEO Output Validation Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1344,
        944
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "request_id",
              "value": "={{ $json.request_id }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "ceo_output",
              "value": "={{ $('CEO Agent').item.json }}",
              "type": "object"
            },
            {
              "id": "id-5",
              "name": "alert_type",
              "value": "incomplete_classification",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "alert_message",
              "value": "CEO classification incomplete - telemetry logged",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "27e052b8-0dfd-4eab-bdb3-cbf24c58fcdc",
      "name": "Manual Review Alert",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        1872
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "request_id",
              "value": "={{ $json.body?.request_id || $json.request_id || (Date.now() + '-' + Math.floor(Math.random() * 1e9).toString(36)) }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "source_workflow",
              "value": "WF-0",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "source_workflow_id",
              "value": "={{ $workflow.id }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "department",
              "value": "",
              "type": "string"
            },
            {
              "id": "id-5",
              "name": "task_type",
              "value": "",
              "type": "string"
            },
            {
              "id": "id-6",
              "name": "mode",
              "value": "={{ $json.mode || $json.body?.mode || 'simulation' }}",
              "type": "string"
            },
            {
              "id": "id-7",
              "name": "confidence",
              "value": 0,
              "type": "number"
            },
            {
              "id": "id-8",
              "name": "risk_level",
              "value": "={{ $json.body?.risk_level || $json.risk_level || 'low' }}",
              "type": "string"
            },
            {
              "id": "id-10",
              "name": "crea_status",
              "value": "pending",
              "type": "string"
            },
            {
              "id": "id-11",
              "name": "crea_reason",
              "value": "={{ null }}",
              "type": "string"
            },
            {
              "id": "id-12",
              "name": "decision_status",
              "value": "proposed",
              "type": "string"
            },
            {
              "id": "id-13",
              "name": "decision_summary",
              "value": "",
              "type": "string"
            },
            {
              "id": "id-14",
              "name": "failure_count",
              "value": 0,
              "type": "number"
            },
            {
              "id": "id-15",
              "name": "audit",
              "value": "={{ { original_contract_hash: '', logs: [], approvals: [], overrides: [] } }}",
              "type": "object"
            },
            {
              "id": "id-16",
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}",
              "type": "string"
            },
            {
              "id": "id-17",
              "name": "raw_input",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "id": "4f18bd95-2ece-469b-80c5-57e829675a3a",
      "name": "Contract Builder",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2144,
        944
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Restore the governance contract for THIS subtask and attach the department result.\nconst deptResult = $json;\nlet base = {};\ntry { base = $('Attach CEO Classification to Contract').item.json; } catch (e) { base = {}; }\nreturn { ...base, department_result: deptResult };"
      },
      "id": "7c74fc64-352f-48ef-8c5e-b081cc0b9a19",
      "name": "Contract Validator – Enforced",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        944
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const DEPT2WF = { finance:'rNv9DzGl7IFHotwO', operations:'tQ9crXF3P0NOlWDy', rnd:'wruDXEwcbxlP2D7x', marketing:'IYl2NVikGCyySSU2', sales:'fjiL4YeNQ7FN4Yn5', cx:'IQ2YHdJsjseOTWAL', tech:'buYXMmxB3EmybKBk', infra:'buYXMmxB3EmybKBk', hr:'flYawPgsikdzuAek', strategy:'crzJvTXgeYpSYXTI' };\nconst base = $('Contract Builder').first().json;\nconst ceo = ($('CEO Agent').first().json || {}).output || {};\nlet subs = Array.isArray(ceo.subtasks) && ceo.subtasks.length ? ceo.subtasks : null;\nif (!subs) subs = [{ intent_summary: ceo.intent_summary, department: ceo.department, task_type: ceo.task_type, urgency: ceo.urgency, risk_level: ceo.risk_level, confidence_score: ceo.confidence_score }];\nreturn subs.map((s, i) => ({ json: {\n  request_id: (base.request_id || 'req') + '_' + (s.department || ('t' + i)),\n  parent_request_id: base.request_id || null,\n  source_workflow: 'WF-0',\n  source_workflow_id: $workflow.id,\n  department: s.department,\n  target_workflow_id: DEPT2WF[s.department] || null,\n  task_type: s.task_type,\n  urgency: s.urgency,\n  intent_summary: s.intent_summary,\n  mode: ceo.mode || base.mode || 'simulation',\n  confidence: typeof s.confidence_score === 'number' ? s.confidence_score : 0.7,\n  risk_level: s.risk_level || base.risk_level || 'low',\n  founder_available: false,\n  crea_status: base.crea_status || 'pending',\n  crea_reason: null,\n  failure_count: 0,\n  decision_status: 'proposed',\n  audit: base.audit || { original_contract_hash: '', logs: [], approvals: [], overrides: [] },\n  payload: (base.raw_input && base.raw_input.body && base.raw_input.body.payload) || {},\n  timestamp: new Date().toISOString(),\n} }));"
      },
      "id": "bdba22a6-0d6b-4faf-9955-e87696f3eff2",
      "name": "Attach CEO Classification to Contract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1120,
        560
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').item.json.wf10_webhook_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "be41a839-d5f0-40af-9d43-ff7dba00ac79",
      "name": "Call WF-10 – Global Guardrail",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -896,
        560
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "g1",
              "leftValue": "={{ $json.decision_status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "g2",
              "leftValue": "={{ $json.decision_status }}",
              "rightValue": "proposed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "18bca730-6bb5-4d7a-b0a4-6dbf169dae0f",
      "name": "WF-10 Approval Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        560
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "request_id",
              "value": "={{ $json.request_id }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "decision_status",
              "value": "={{ $json.decision_status }}",
              "type": "string"
            },
            {
              "id": "id-3",
              "name": "reason",
              "value": "={{ $json.reason || \"WF-10 blocked execution\" }}",
              "type": "string"
            },
            {
              "id": "id-4",
              "name": "execution_allowed",
              "value": "={{ $json.execution_allowed }}",
              "type": "boolean"
            },
            {
              "id": "id-5",
              "name": "blocked_by",
              "value": "WF-10 Global Guardrail",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "45465d84-1d26-48bb-a8bb-84b64d6b85e0",
      "name": "BLOCKED – WF-10 Rejected",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Workflow Configuration').item.json.wf10_webhook_url }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "id": "dad4bd55-9474-4d98-bb29-8b194ba275db",
      "name": "Call WF-10 (Execution Gate)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        200
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "g1",
              "leftValue": "={{ $json.decision_status }}",
              "rightValue": "approved",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "g2",
              "leftValue": "={{ $json.decision_status }}",
              "rightValue": "proposed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "09bb1c13-6a35-48c2-b1af-f5121afacc63",
      "name": "WF-10 Execution Gate",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1320,
        200
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e1",
              "name": "request_id",
              "value": "={{ $json.request_id }}",
              "type": "string"
            },
            {
              "id": "e2",
              "name": "decision_status",
              "value": "execution_blocked",
              "type": "string"
            },
            {
              "id": "e3",
              "name": "reason",
              "value": "={{ $json.reason || 'WF-10 denied execution of department action' }}",
              "type": "string"
            },
            {
              "id": "e4",
              "name": "execution_allowed",
              "value": false,
              "type": "boolean"
            },
            {
              "id": "e5",
              "name": "blocked_by",
              "value": "WF-10 Execution Gate",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "c8ace1bb-c92c-474e-883e-7aa804392d12",
      "name": "BLOCKED - Execution Denied",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1540,
        360
      ]
    },
    {
      "id": "exec-department-dynamic",
      "name": "Execute Department",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -448,
        832
      ],
      "parameters": {
        "workflowId": {
          "__rl": true,
          "mode": "id",
          "value": "={{ ({finance:'rNv9DzGl7IFHotwO',operations:'tQ9crXF3P0NOlWDy',rnd:'wruDXEwcbxlP2D7x',marketing:'IYl2NVikGCyySSU2',sales:'fjiL4YeNQ7FN4Yn5',cx:'IQ2YHdJsjseOTWAL',tech:'buYXMmxB3EmybKBk',infra:'buYXMmxB3EmybKBk',hr:'flYawPgsikdzuAek',strategy:'crzJvTXgeYpSYXTI'})[$json.department] }}"
        },
        "workflowInputs": {
          "mappingMode": "json",
          "value": "={{ $json }}"
        },
        "options": {},
        "mode": "each"
      }
    },
    {
      "id": "policy-guard-if",
      "name": "Policy Guard",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -1808,
        944
      ],
      "parameters": {
        "options": {
          "caseSensitive": false,
          "typeValidation": "loose",
          "version": 2
        },
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "pg1",
              "leftValue": "={{ /(auto[- ]?approve|approve all|approve everything|no human review|no review|without (human )?(review|approval|oversight)|skip (the )?(crea|review|governance|approval|checks?)|bypass (the )?(governance|review|approval|controls?|guardrail|crea)|disable (the )?(governance|guardrail|controls?|oversight|crea|review)|remove (the )?(oversight|approval|review|controls?))/i.test(JSON.stringify($json)) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        }
      }
    },
    {
      "id": "policy-blocked-response",
      "name": "Policy Violation Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1808,
        1120
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const c = $json;\nconst rid = c.request_id || (c.raw_input && c.raw_input.body && c.raw_input.body.request_id) || 'unknown';\nreturn [{ json: {\n  request_id: rid,\n  decision_status: 'blocked',\n  execution_allowed: false,\n  policy_violation: true,\n  blocked_by: 'WF-0 Policy Guard',\n  reason: 'Policy violation: this request attempts to bypass governance or human oversight (e.g. auto-approve all / skip review / disable controls). Denied. Such changes require explicit founder authorization and a Risk & Ethics (CREA) review.',\n  timestamp: new Date().toISOString(),\n} }];"
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger (UI Actions)": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger (Cron Jobs)": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger (Admin Testing)": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Normalization": {
      "main": [
        [
          {
            "node": "Policy Guard",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model (CEO)": {
      "ai_languageModel": [
        [
          {
            "node": "CEO Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser (CEO Classification)": {
      "ai_outputParser": [
        [
          {
            "node": "CEO Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Log Decision & Execution": {
      "main": [
        [
          {
            "node": "Build Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Final Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CEO Agent": {
      "main": [
        [
          {
            "node": "CEO Output Validation Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CEO Output Validation Gate": {
      "main": [
        [
          {
            "node": "Attach CEO Classification to Contract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Manual Review Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Review Alert": {
      "main": [
        [
          {
            "node": "Log Decision & Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Contract Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contract Builder": {
      "main": [
        [
          {
            "node": "Input Normalization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contract Validator – Enforced": {
      "main": [
        [
          {
            "node": "Call WF-10 (Execution Gate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Attach CEO Classification to Contract": {
      "main": [
        [
          {
            "node": "Call WF-10 – Global Guardrail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call WF-10 – Global Guardrail": {
      "main": [
        [
          {
            "node": "WF-10 Approval Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-10 Approval Gate": {
      "main": [
        [
          {
            "node": "Execute Department",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BLOCKED – WF-10 Rejected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BLOCKED – WF-10 Rejected": {
      "main": [
        [
          {
            "node": "Log Decision & Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call WF-10 (Execution Gate)": {
      "main": [
        [
          {
            "node": "WF-10 Execution Gate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WF-10 Execution Gate": {
      "main": [
        [
          {
            "node": "Log Decision & Execution",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "BLOCKED - Execution Denied",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BLOCKED - Execution Denied": {
      "main": [
        [
          {
            "node": "Log Decision & Execution",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Department": {
      "main": [
        [
          {
            "node": "Contract Validator – Enforced",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Policy Guard": {
      "main": [
        [
          {
            "node": "Policy Violation Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "CEO Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Policy Violation Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c026ab67-f3eb-4cdf-9611-f6353f56d0d3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bea94a9541cdb25b8e9767cbab760254eae13c9cf6f5cc323581c4d6ea0dea6f"
  },
  "id": "lc0lyVO9QbTJ0aih",
  "tags": []
}